@charset "utf-8";
/* CSS Document */
*{
	padding: 0;
	margin: 0;
}
.box{
	width: 1480px;
	height: 1600px;
}
.top{
	width: 100%;
	height: 100px;
}
.top ul{
	width: 900px;
	height: 60px;
	position: relative;
	left: 340px;
	top: 30px;
}
.top ul li{
	width: 180px;
	height: 60px;
	float: left;
	list-style: none;
	text-align: center;
	line-height: 60px;
	font-size: 20px;
	font-family:  Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	cursor: pointer;
	color: black
}
.top ul li:hover{
	border-bottom: 3px solid #000000
}

.content{
	width: 1480px;
	height: 860px;
	position: relative;
}
.top-left{
	width: 260px;
	height: 300px;
	background: #A0A0A0;
	position: absolute;
	top: 80px;
	left: 500px;
}
.top-mid{
	width: 260px;
	height: 400px;
	background: #A0A0A0;
	position: absolute;
	top: 500px;
	left: 240px;
}
.top-right{
	width: 260px;
	height:400px;
	background: #B3A4A5;
	position: absolute;
	top: 350px;
	left: 880px;
}
.bottom-left{
	width: 240px;
	height: 320px;
	background:  #9A797A;
	position: absolute;
	top:1100px;
	left: 150px;
}

.bottom-right{
	width: 260px;
	height: 280px;
	background:   #5E181A;
	position: absolute;
	top: 800px;
	left: 640px;
}

.list-right{
	width: 450px;
	height: 260px;
	background: #B3A4A5;
	position: absolute;
	top:1160px;
	left: 950px;
}













